In [1]:
import torch
from torch.utils.data import Dataset, DataLoader

import numpy as np
import pandas as pd

from os import listdir
from os.path import isfile, join

In [2]:
dir_path = r'/home/robotics20/Documents/rotem/new_code/data/current_data /relaxed'

In [3]:
join(dir_path,file)

NameError: name 'file' is not defined

In [4]:
full_df = pd.DataFrame()
#enumerate

In [8]:
for i, file in enumerate(listdir(dir_path)):

    df = pd.read_csv(join(dir_path,file))
    full_df = pd.concat([full_df,df],axis=0)

In [7]:
def data_loder(dir_path):
    full_df = pd.DataFrame()
    for file in listdir(dir_path):

        df = pd.read_csv(join(dir_path,file))
        full_df = pd.concat([full_df,df],axis=0,ignore_index=True)
    return full_df

In [8]:
full_df = data_loder(dir_path)
full_df

FileNotFoundError: [Errno 2] No such file or directory: '/home/robotics20/Documents/rotem/new_code/data/current_data /relaxed'

In [12]:

imu_index = ['Gx', 'Gy', 'Gz', 'Ax', 'Ay', 'Az', 'Mx', 'My', 'Mz']
fmg_index = ['S1','S2', 'S3', 'S4', 'S5', 'S6', 'S7', 'S8', 'S9', 'S10', 'S11']
labels = ['class']

fmg_df = full_df[fmg_index]
imu_df = full_df[imu_index]
labels_df = full_df[labels]

fmg_df = pd.concat([fmg_df,labels_df],axis=1)
imu_df = pd.concat([imu_df,labels_df],axis=1)

# fmg_df[fmg_df['class'] ==2].drop('class',axis=1)
fmg_df = fmg_df.dropna(axis=0)

In [75]:
assert isinstance(fmg_df, pd.DataFrame),"fmg_df is not pd.dataframe"

AssertionError: fmg_df is not pd.dataframe

In [13]:
fmg_df['class'].unique()

array([2., 0.])

In [14]:
bias_df = pd.DataFrame()

for c_label in fmg_df['class'].unique():

    temp_df = fmg_df[fmg_df['class'] == c_label].std().transpose()
    temp_df['class'] = c_label
    bias_df = pd.concat([bias_df,temp_df],axis= 1)

bias_df = bias_df.transpose()
bias_df
# bias_df['class'].value_counts.index
# bias_df[bias_df['class'] == 0].drop('class',axis=1)

,S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,S11,class
0,67.193659,59.841840,84.106666,67.615052,76.598007,52.776056,79.111346,0.209062,2.619072,36.999151,69.832015,2.0
0,103.051936,35.842203,70.340948,69.728146,66.085327,21.305537,141.972788,30.368247,56.614611,69.461293,67.101589,0.0

In [284]:
fmg_df.std()

0        170.912790
1        171.028706
2        171.186413
3        171.034553
4        171.114971
            ...
19995    145.139092
19996    145.007497
19997    145.022543
19998    145.016822
19999    145.072291
Length: 19998, dtype: float64

In [274]:
new_fmg_df = pd.DataFrame()
for index in bias_df['class'].unique():
    temp_fmg_df = fmg_df[fmg_df['class'] ==index].drop('class',axis=1) - np.array(bias_df[bias_df['class'] == index].drop('class',axis=1))
    new_fmg_df = pd.concat([new_fmg_df,temp_fmg_df],axis= 0)

new_fmg_df

new_fmg_df = pd.concat([new_fmg_df,labels_df],axis= 1)
new_fmg_df.dropna(axis=0)

,S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,S11,class
0,183.085400,-70.623600,3.75770,-12.571800,294.9225,30.304400,-159.994800,-0.045800,-0.216900,-55.477800,-54.419500,2.0
1,183.085400,-71.623600,4.75770,-12.571800,294.9225,30.304400,-159.994800,-0.045800,-0.216900,-55.477800,-54.419500,2.0
2,183.085400,-71.623600,5.75770,-13.571800,295.9225,30.304400,-159.994800,-0.045800,-0.216900,-54.477800,-54.419500,2.0
3,183.085400,-72.623600,5.75770,-13.571800,294.9225,30.304400,-159.994800,-0.045800,-0.216900,-54.477800,-54.419500,2.0
4,183.085400,-71.623600,4.75770,-12.571800,295.9225,31.304400,-158.994800,-0.045800,-0.216900,-54.477800,-54.419500,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
19995,-65.844869,15.659432,-44.35187,-135.314663,-10.9986,-10.665633,-89.111022,-25.089118,24.112723,-45.962192,24.120124,0.0
19996,-67.844869,13.659432,-43.35187,-134.314663,-10.9986,-9.665633,-90.111022,-25.089118,24.112723,-45.962192,24.120124,0.0
19997,-65.844869,14.659432,-44.35187,-135.314663,-10.9986,-10.665633,-89.111022,-25.089118,25.112723,-44.962192,23.120124,0.0
19998,-65.844869,14.659432,-44.35187,-135.314663,-10.9986,-10.665633,-89.111022,-25.089118,25.112723,-44.962192,24.120124,0.0
19999,-65.844869,14.659432,-43.35187,-134.314663,-10.9986,-10.665633,-90.111022,-25.089118,25.112723,-45.962192,26.120124,0.0

In [256]:
fmg_df1 = fmg_df[fmg_df['class'] ==2].drop('class',axis=1) - np.array(bias_df[bias_df['class'] == 2].drop('class',axis=1))

print(fmg_df[fmg_df['class'] ==2].drop('class',axis=1))
fmg_df1

          S1     S2     S3     S4     S5     S6     S7   S8   S9   S10    S11
0      319.0  237.0  454.0  231.0  435.0  120.0  355.0  0.0  0.0  21.0  136.0
1      319.0  236.0  455.0  231.0  435.0  120.0  355.0  0.0  0.0  21.0  136.0
2      319.0  236.0  456.0  230.0  436.0  120.0  355.0  0.0  0.0  22.0  136.0
3      319.0  235.0  456.0  230.0  435.0  120.0  355.0  0.0  0.0  22.0  136.0
4      319.0  236.0  455.0  231.0  436.0  121.0  356.0  0.0  0.0  22.0  136.0
...      ...    ...    ...    ...    ...    ...    ...  ...  ...   ...    ...
18995  184.0  246.0  368.0  270.0  236.0  168.0  545.0  0.0  0.0  28.0  170.0
18996  183.0  246.0  368.0  270.0  237.0  168.0  545.0  0.0  0.0  28.0  170.0
18997  183.0  246.0  369.0  270.0  236.0  168.0  545.0  0.0  0.0  29.0  170.0
18998  183.0  246.0  369.0  270.0  234.0  168.0  545.0  0.0  0.0  28.0  170.0
18999  183.0  247.0  369.0  270.0  231.0  168.0  544.0  0.0  0.0  28.0  169.0

[10000 rows x 11 columns]

,S1,S2,S3,S4,S5,S6,S7,S8,S9,S10,S11
0,183.0854,-70.6236,3.7577,-12.5718,294.9225,30.3044,-159.9948,-0.0458,-0.2169,-55.4778,-54.4195
1,183.0854,-71.6236,4.7577,-12.5718,294.9225,30.3044,-159.9948,-0.0458,-0.2169,-55.4778,-54.4195
2,183.0854,-71.6236,5.7577,-13.5718,295.9225,30.3044,-159.9948,-0.0458,-0.2169,-54.4778,-54.4195
3,183.0854,-72.6236,5.7577,-13.5718,294.9225,30.3044,-159.9948,-0.0458,-0.2169,-54.4778,-54.4195
4,183.0854,-71.6236,4.7577,-12.5718,295.9225,31.3044,-158.9948,-0.0458,-0.2169,-54.4778,-54.4195
...,...,...,...,...,...,...,...,...,...,...,...
18995,48.0854,-61.6236,-82.2423,26.4282,95.9225,78.3044,30.0052,-0.0458,-0.2169,-48.4778,-20.4195
18996,47.0854,-61.6236,-82.2423,26.4282,96.9225,78.3044,30.0052,-0.0458,-0.2169,-48.4778,-20.4195
18997,47.0854,-61.6236,-81.2423,26.4282,95.9225,78.3044,30.0052,-0.0458,-0.2169,-47.4778,-20.4195
18998,47.0854,-61.6236,-81.2423,26.4282,93.9225,78.3044,30.0052,-0.0458,-0.2169,-48.4778,-20.4195
18999,47.0854,-60.6236,-81.2423,26.4282,90.9225,78.3044,29.0052,-0.0458,-0.2169,-48.4778,-21.4195

In [255]:
a = pd.DataFrame([[1,2],[2,2]])
b = pd.DataFrame([1,1])
a.sub(b,fill_value=1)

   0    1
0  0  1.0
1  1  1.0

In [4]:
import datetime
import time

current_time = datetime.datetime.now()

In [15]:
fmg_df

NameError: name 'fmg_df' is not defined

In [14]:
time.strftime("%d_%b_%Y_%H:%M", time.gmtime())

'14_Mar_2023_13:31'

In [12]:
d = {'a':[1,1,1,1],'b':[2,2,2,2]}
c = {'c':[3,3,3,3],'d':[4,4,4,4]}
df_1 = pd.DataFrame(d)
df_2 = pd.DataFrame(c) 
df_2

pd.concat([df_1,df_2],axis=1,ignore_index=True)

   0  1  2  3
0  1  2  3  4
1  1  2  3  4
2  1  2  3  4
3  1  2  3  4