In [1]:
import torch
import torch.nn as nn 
from torch.utils.data import Dataset, DataLoader,TensorDataset
import  torchvision.transforms as transforms
import numpy as np
import pandas as pd

from os import listdir
from os.path import isfile, join
# import data_proses
import argparse
import yaml
with open(r'/home/robotics20/Documents/rotem/new_code/config.yaml', 'r') as f:
    args = yaml.safe_load(f)

config = argparse.Namespace(**args)


df = pd.read_csv(r'/home/robotics20/Documents/rotem/new_code/data/data/02_Aug_2023_11_46_clean.csv')

In [5]:


fmg = df[config.fmg_index]

In [11]:
fmg_clean = fmg.loc[:,fmg.var(axis=0)>300]

In [19]:
fmg_clean.shape[1]

6

In [21]:
config.fmg_index = fmg_clean.columns

In [26]:
df[['M1x','M2x','M3x','M4x']] =  df[['M1x','M2x','M3x','M4x']].sub(df['M1x'], axis=0)

In [27]:
df[config.first_positoin_label_inedx]

,M1x,M1y,M1z,M2x,M2y,M2z,M3x,M3y,M3z,M4x,M4y,M4z
0,0.0,0.637570,-0.162449,-0.169682,0.444267,-0.002644,-0.039912,0.639871,0.351186,0.046456,0.595297,0.148495
1,0.0,0.637564,-0.162444,-0.169684,0.444268,-0.002627,-0.039898,0.640024,0.351187,0.046343,0.595317,0.148512
2,0.0,0.637564,-0.162444,-0.169684,0.444268,-0.002627,-0.039898,0.640024,0.351187,0.046343,0.595317,0.148512
3,0.0,0.637555,-0.162441,-0.169677,0.444269,-0.002610,-0.039936,0.640185,0.351439,0.046274,0.595351,0.148516
4,0.0,0.637555,-0.162441,-0.169677,0.444269,-0.002610,-0.039936,0.640185,0.351439,0.046274,0.595351,0.148516
...,...,...,...,...,...,...,...,...,...,...,...,...
9978,0.0,0.628113,-0.176678,-0.116253,0.430447,0.029243,0.290984,0.560988,0.266750,0.215959,0.544860,0.061399
9979,0.0,0.628454,-0.176600,-0.115658,0.430472,0.029669,0.300713,0.559992,0.260276,0.220033,0.544719,0.056930
9980,0.0,0.628719,-0.176462,-0.115064,0.430476,0.030116,0.310426,0.559245,0.253694,0.223851,0.544398,0.052567
9981,0.0,0.628947,-0.176225,-0.114439,0.430363,0.030523,0.319869,0.558111,0.246816,0.227569,0.544067,0.048335
9982,0.0,0.629289,-0.176077,-0.113966,0.430380,0.030913,0.326772,0.557347,0.241735,0.230110,0.543684,0.045247