In [8]:
import torch
import torch.nn as nn 
from torch.utils.data import Dataset, DataLoader,TensorDataset
import  torchvision.transforms as transforms
import numpy as np
import pandas as pd

from os import listdir
from os.path import isfile, join
# import data_proses
import argparse
import yaml
with open(r'C:\Users\User\Desktop\Rotem\roboticstau-2\new_code\config.yaml', 'r') as f:
    args = yaml.safe_load(f)

config = argparse.Namespace(**args)

In [9]:
df = pd.read_csv(r'C:\Users\User\Desktop\Rotem\roboticstau-2\new_code\data\data\02_Aug_2023_11_46.csv')

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_14080\964501206.py:1: DtypeWarning: Columns (5,10,15,18,29,32,33,35,39,40,41,42,63) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'C:\Users\User\Desktop\Rotem\roboticstau-2\new_code\data\data\02_Aug_2023_11_46.csv')

In [11]:

def is_not_numeric(x):
    try:
        float(x)
        return False
    except ValueError:
        return True
    

def print_not_numeric_vals(df):

    mask = df.drop(['sesion_time_stamp'],axis=1)[config.fmg_index+config.first_positoin_label_inedx].applymap(is_not_numeric)
    non_numeric_values = df[mask].stack().dropna()
    print(non_numeric_values)

    return non_numeric_values

In [15]:
non = print_not_numeric_vals(df)

943   M3x    02_Aug_2023_11_46
1319  S16              0.03.00
      M3z    02_Aug_2023_11_46
1485  M2x    02_Aug_2023_11_46
1974  M4z    02_Aug_2023_11_46
2115  M4x    02_Aug_2023_11_46
2640  M1x    02_Aug_2023_11_46
3284  M3z    02_Aug_2023_11_46
5473  S11              10.1.00
      M3y    02_Aug_2023_11_46
5725  S19                1..00
      M3x    02_Aug_2023_11_46
6614  S6              5.001.00
      M1x    02_Aug_2023_11_46
7032  S30    02_Aug_2023_11_46
7730  M4y    02_Aug_2023_11_46
9024  M4z    02_Aug_2023_11_46
9369  M1y    02_Aug_2023_11_46
9674  M3x    02_Aug_2023_11_46
dtype: object

In [25]:
x = non.index.to_numpy()

In [ ]:
for i in range(len(x)):
    print(x[i][0])

In [40]:
index_list = [x[i][0] for i in range(len(x)) ]

index_list

[943,
 1319,
 1319,
 1485,
 1974,
 2115,
 2640,
 3284,
 5473,
 5473,
 5725,
 5725,
 6614,
 6614,
 7032,
 7730,
 9024,
 9369,
 9674]

In [43]:
y = df.drop(index_list).reset_index(drop=True)

In [45]:
print_not_numeric_vals(y)

Series([], dtype: object)

Series([], dtype: object)

In [49]:
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Write the DataFrame to a CSV file
df.to_csv('data.csv', index=False)